.dart_tool/
.packages
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies
.idea/
.vscode/
*.iml
android/.gradle/
ios/Pods/
ios/.symlinks/
ios/Flutter/ephemeral/
.env
*.jks
*.keystore
android/key.properties
android/app/upload-keystore.jks
*.p12
*.mobileprovision
AuthKey_*.p8
